
#wrapper{
 width: 950px;
 background-color: silver;
 padding: 20px;
 padding-bottom: 450px;
 margin: auto;
}
#header{
 height: 150px;
 background-color: green;
 margin-bottom: 20px;

}
#navigation{
 height: 300px;
 width: 200px;
 background-color: blue;
 margin-right: 20px;
 float: left;
}
#main_content{
 height: 400px;
 width: 710px;
 background-color: red;
 margin-left: 20px;
 float: left;
}
.subcontents{
 height: 190px;
 width: 205px;
 background-color: yellow;
 float: left;
 margin: 15px;
}
#advertisement{
 height: 120px;
 width: 660px;
 background-color: purple;
 margin-top: 250px;
 margin-left: 20px;
 margin-right: 20px;
}
